/* Login.css */

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92vh;
    background: linear-gradient(135deg, #f5f5b0, #b0b0f5);
    background-size: 200% 200%;
    animation: gradientAnimation 10s infinite alternate;
  }
  
  .login-form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px; /* Increase padding to make the box bigger */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .login-title {
    font-size: 24px;
    color: #073f8a;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form-group {
    margin: 10px 0;
    text-align: left; /* Align labels to the left */
  }
  
  .label {
    font-weight: bold;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    border: 1px solid #073f8a;
    border-radius: 5px;
    margin-top: 5px;
  }
  
  .login-button {
    background-color: #073f8a;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 15px;
  }
  
  .login-button:hover {
    background-color: #002f5a;
  }
  
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 0%;
    }
    100% {
      background-position: 100% 100%;
    }
  }
  
  .login-button:disabled {
    background: #ccc; /* Gray color for the disabled button */
    color: #666;
    cursor: not-allowed; /* Change the cursor to indicate it's disabled */
  }